.spy {
  margin: 0.5em;
  border: 1px solid blue;
  width: 20rem;
  height: 19rem;
  grid-template-rows: 20% 1fr 1fr;
}

.spy-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.middle-section, .bottom-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.middle-section img {
  border-radius: 50%;
  width: 5em;
}

.bottom-section img {
  width: 8em;
  border-radius: 1em;
}

